* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: aquamarine;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 7px;
}

form {
    display: grid;
    row-gap: 10px;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(7, 1fr);
    width: 50vw;
    min-width: 630px;
}

.cards {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    gap: 30px;
    width: 50vw;
    min-width: 630px;
    margin-top: 30px;
}

.imageDiv {
    width: 300px;
    height: 450px;
    background-size: cover;
    background-position: center;
    color: black;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.parent {
    display:grid;
    
    grid-template-columns:repeat(2, 1fr);
    
    grid-template-rows:repeat(8, 1fr);
    
    
    }
    
    #firstName{ grid-area:1 / 1 / 2 / 2;}
    #lastName{ grid-area:1 / 2 / 2 / 3;}
    #stageName{ grid-area:2 / 1 / 3 / 3;}
    #albums{ grid-area:3 / 1 / 4 / 2;}
    #topTen{ grid-area:3 / 2 / 4 / 3;}
    #netWorth{ grid-area:4 / 1 / 5 / 2;}
    #age{ grid-area:4 / 2 / 5 / 3;}
    #area{ grid-area:5 / 1 / 7 / 3;}
    #url{grid-area:7 / 1 / 8 / 3;}


input {
    background-color: transparent;
    border: none;
    background-color: white;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
}

input::placeholder {
    color: black;
}

textarea {
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}



.infoDiv {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 240px;
}

.error-message {
    color: red;
    text-align: center;
    grid-area:8 / 1 / 9 / 3;
}

button {
    background-color: rgb(162, 171, 224);
    border: none;
    height: 30px;
    grid-area: 9 / 1 / 10 / 3;
    margin: 0 10px;
    padding: 5px;
}

.order-bttons > button {
    margin: 20px 10px;
    padding: 5px;
}

h3 {
    color: white;
    padding-left: 20px;
}